header {
    color: azure;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.699);
    -webkit-animation: bgcolor 4s infinite;
    animation: bgcolor 4s infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

@keyframes bgcolor {
    0% {
        background-color: #060073;
    }

    60% {
        background-color: #0059ff;
    }

    100% {
        background-color: #00a0d1;
    }
}

.container-leftside {
    margin-right: auto;
    margin-left: auto;
}

.leftside-spacing {
    margin-left: 10px;
    margin-right: 10px;
}

.row-main {
    display: flex;

}

.grid-5-day {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.high {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: lightgreen;
}


/* body {
    background-color: rgba(85, 85, 85, 0.212);
    margin: 0px;
}

header {
    align-items: center;
    background: rgb(6,0,115);
    background: linear-gradient(90deg, rgba(6,0,115,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Aldrich', sans-serif;
}

.allWeatherInfo {
    background-color: floralwhite;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fiveDayWeather {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: inherit;
}   

.searchAndResults {
    display: flex;
}

.searchFormBox {
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.searchBtn:hover {
    color: #fff;
    box-shadow: 0 2px 1px rgba(0,0,0,.5);
}

.searchBtn {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.searchBtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #41b3ff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.searchBtn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.leftColumn {
    
    background-color: rgb(177, 177, 177);
}

.searchHist {
    margin: auto;  
    background-color: rgba(235, 235, 235, 0);
    align-items: center;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
}

.currWeather {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.bgWallpaper {
    background-image: url('./assets/images/bgw.jpg');
    background-color: #cccccc00;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/