* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: floralwhite;
}

header {
    color: azure;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.699);
    -webkit-animation: bgcolor 7s infinite;
    animation: bgcolor 7s infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

@keyframes bgcolor {
    0% {
        background-color: #060073;
    }

    30% {
        background-color: #0059ff;
    }

    60% {
        background-color: #00a0d1;
    }

    80% {
        background-color: #f0f1f2;
    }

    100% {
        background-color: #060073;

    }
}

.container-leftside {
    background-color: floralwhite;
    margin-right: auto;
    margin-left: auto;

}

.leftside-spacing {
   background-color: #adb5bd;
   border-radius: 1rem;
    margin-top: 12px;
    
    margin-bottom: auto;
    padding: 1rem;
}


.row-main {
    display: flex;

}

.grid-5-day {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.high {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: lightgreen;
}

.searchBtnTransition {
    transition: all ease-in-out 3s;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.searchBtnTransition:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    border-color: #343a40;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.searchBtnTransition:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.searchBtnTransition:hover {
    color: white;
    transition: ease-in-out .5s;
}

.card {
    background-clip: border-box;
    border: 5px solid rgba(0,0,0,.125);
    border-radius: 1rem;
    background-color: gainsboro;
}

.btn-outline-darks {
    color: #ffffff;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-darks {
    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(155, 155, 155), rgb(155, 155, 155));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}
  
.btn-outline-darks:hover {
    /* The following line makes the underline only as wide as the text */
    /* background-size: calc(100% - 2em) 5px, auto; */
    background-size: 100% 5px, auto;
}